# Environment
.venv/
test_env/
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Formatting/Linting
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pre-commit/
**/__pycache__/
*.py[cod]
*$py.class

# Streamlit & Secrets
.streamlit/

# Data / Output
data/
*.nc
*.grib

service-account-key.json