# Environment
.venv/
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Formatting/Linting
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pre-commit/

# Streamlit & Secrets
.streamlit/secrets.toml
.streamlit/config.toml

# Data / Output
data/
*.nc
*.csv
*.grib
*.json