# Environment
.venv/
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cache
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pre-commit/
__pycache__/

# Streamlit & Secrets
.streamlit/secrets.toml
.streamlit/config.toml

# Data / Output
data/
*.nc
*.csv
*.grib
*.json
.DS_Store

# API KEY
service-account-key.json