# Dashboard
streamlit

# Data Source
earthengine-api
google

# Data Processing
pandas
numpy
xarray

# Mapping
geopandas
geopy
folium
streamlit-folium
plotly

# Util
python-dotenv
black
ruff
pre-commit
geopy
